name: "Build and Publish Linea ENS Frontend"

on:
  push:
    branches:
      - main
    paths:
      - "packages/linea-ens-app/**"
  pull_request:
    branches:
      - main
    paths:
      - "packages/linea-ens-app/**"
  release:
    types:
      - released

jobs:
  linea-ens-app-build-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set Docker Tag
        id: docker-tag
        if: ${{ github.event_name != 'release' }}
        run: echo "DOCKER_TAG=${GITHUB_SHA:0:7}-$(date +%s)-ens-app" | tee $GITHUB_ENV

      - name: Set Docker Tag - Release
        id: docker-tag-release
        if: ${{ github.event_name == 'release' }}
        run: echo "DOCKER_TAG=${GITHUB_SHA:0:7}-$(date +%s)-ens-app-${GITHUB_REF#refs/tags/}" | tee $GITHUB_ENV

      - name: Login to Docker Repository
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_REPO_USER }}
          password: ${{ secrets.DOCKER_REPO_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Docker Image Build and Publish
        uses: docker/build-push-action@v4
        with:
          context: ./
          file: ./packages/linea-ens-app/Dockerfile
          push: true
          tags: consensys/linea-resolver:${{ env.DOCKER_TAG }}
          build-args: |
            NEXT_PUBLIC_INFURA_KEY=${{ secrets.NEXT_PUBLIC_INFURA_KEY }}
            NEXT_PUBLIC_ALCHEMY_KEY=${{ secrets.NEXT_PUBLIC_ALCHEMY_KEY }}
            NEXT_PUBLIC_WC_PROJECT_ID=${{ secrets.NEXT_PUBLIC_WC_PROJECT_ID }}
            NEXT_PUBLIC_THE_GRAPH_MAINNET_API_KEY=${{ secrets.NEXT_PUBLIC_THE_GRAPH_MAINNET_API_KEY }}
            NEXT_PUBLIC_THE_GRAPH_SEPOLIA_API_KEY=${{ secrets.NEXT_PUBLIC_THE_GRAPH_SEPOLIA_API_KEY }}
            BUILD_COMMAND="pnpm build"
