name: Run linea-ens-contracts unit tests

on:
  pull_request:
    branches:
      - main
    paths:
      - "packages/linea-ens-contracts/**"
      - ".github/workflows/linea-ens-contracts-tests.yml"
  push:
    branches:
      - main
    paths:
      - "packages/linea-ens-contracts/**"
      - ".github/workflows/linea-ens-contracts-tests.yml"

jobs:
  linea-ens-contracts-tests:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./packages/linea-ens-contracts

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js from .nvmrc
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'
          cache-dependency-path: 'packages/linea-ens-contracts/yarn.lock'

      - name: Install dependencies
        run: yarn install --immutable --immutable-cache --check-cache

      - name: Run test
        run: yarn test
